################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ipch/TESTWIN32CONSOLEAPPLICATION-edad00b9/TESTWIN32CONSOLEAPPLICATION-c27acf06.ipch
