################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ipch/TESTWIN32CONSOLEAPPLICATION-edad00b9/TESTWIN32CONSOLEAPPLICATION-c27acf06.ipch
/ipch/TESTWIN32CONSOLEAPPLICATION-edad00b9
/Debug/TestWin32ConsoleApplication.pdb
/Debug/TestWin32ConsoleApplication.ilk
/Debug/TestWin32ConsoleApplication.exe
/Debug/$RANDOM_SEED$
/Debug
/.vs/TestWin32ConsoleApplication/v14/.suo
/TestWin32ConsoleApplication/Debug
/TestWin32ConsoleApplication.VC.VC.opendb
/TestWin32ConsoleApplication.VC.db
